html {
  font-family: monospace;
  background-color: white;
}

textarea {
  width: 100%;
}

#errormessage-Favicond[data-state=error] {
  color: red;
}

#errormessage-Favicond[data-state=success] {
  color: green;
}

#errormessage-Favicond:not(#errormessage-Favicond[data-state]) {
  display: none;
}

li.wikipageListing {
  border: 2px solid red;
}

pre {
  /* margin: 1em 0 0; */
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  word-break: keep-all;
}