html {
  font-family: monospace;
  background-color: white;
}

textarea {
  width: 100%;
}

a:visited,
a:link {
  color: blue;
}

a:hover {
  color: orangered;
}

a:active {
  color: black;
}

li.wikipageListing {
  border: 2px solid red;
}

pre {
  /* margin: 1em 0 0; */
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  word-break: keep-all;
}